Repository Mynor2397/PsicoAPPAuth: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        inputs:
          containerRegistry: Psicoapp docker hub
          repository: psicoapp / frontpsicoapp
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Bash@3
        inputs:
          targetType: inline
          script: docker login -u "$(DHA)" -p "$(DHP)" docker.io
      - task: Docker@2
  ...

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Correigiendo el actualizado de los casos
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Component/CreateCasos/CreateCasos.js
  frontend/src/Component/CreateCasos/UpdateCasos.js
  frontend/src/Component/Etapas/Etapas.js
  frontend/src/Component/Etapas/Etapas.scss
  frontend/src/Component/Etapas/wizard/EtapaDiagnostico.js
  frontend/src/Component/Etapas/wizard/EtapaInicial.js
  frontend/src/Component/Etapas/wizard/EtapaIntermedia.js
  frontend/src/Component/Etapas/wizard/General.js
  frontend/src/Component/Pantient/CreatePantientv1.js
  frontend/src/index.scss
Due: azure-pipelines-1.yml

cambios en el diagnosedproblems .http
  backend/rest/diagnosedproblems.http
Due: azure-pipelines.yml

agregado get por id a diagnosedproblems
  backend/rest/diagnosedproblems.http
  backend/src/controllers/diagnosedproblem_controller.js
  backend/src/routes/diagnosedproblem.route.js
  backend/src/services/diagnosedproblem_service.js
  backend/src/storage/diagnosedproblem_storage.js
Due: azure-pipelines.yml

arreglos minimos
  backend/src/services/diagnosedproblem_service.js
  backend/src/storage/diagnosedproblem_storage.js
Due: azure-pipelines.yml

Crear el diagnostico
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Component/Etapas/Etapas.js
  frontend/src/Component/Etapas/Etapas.scss
  frontend/src/Component/Etapas/wizard/EtapaDiagnostico.js
  frontend/src/Component/Etapas/wizard/EtapaInicial.js
  frontend/src/Component/Etapas/wizard/EtapaIntermedia.js
  frontend/src/Component/Etapas/wizard/General.js
  frontend/src/Component/Navbar/Navbar.js
  frontend/src/Component/Pantient/Styles.pantient.scss
  frontend/src/Component/Routes.js
  frontend/src/Component/helpers/File.js
  frontend/src/Component/helpers/File.scss
  frontend/src/Component/helpers/Select.js
  frontend/src/config/option.js
Due: azure-pipelines-1.yml

Correciones en los rutas
  frontend/src/App.scss
  frontend/src/Component/Pantient/CreatePantientv1.js
  frontend/src/Component/Pantient/Styles.pantient.scss
  frontend/src/Component/Routes.js
Due: azure-pipelines-1.yml

ajustes de la consulta a la tabla PersonUser
  backend/rest/ncase.http
  backend/src/storage/case_storage.js
Due: azure-pipelines.yml

bug error length
  backend/rest/caseinitial.http
  backend/src/storage/caseinitial_storage.js
Due: azure-pipelines.yml

bug sprint siguiente
  backend/rest/caseinitial.http
  backend/src/lib/utils/rex.files.js
  backend/src/storage/caseinitial_storage.js
Due: azure-pipelines.yml

filename response
  backend/src/storage/caseinitial_storage.js
Due: azure-pipelines.yml

Boton de descarga
  frontend/public/index.html
  frontend/src/Component/Etapas/wizard/EtapaInicial.js
  frontend/src/Component/Pantient/CreatePantientv1.js
  frontend/src/Component/helpers/File.js
  frontend/src/Component/helpers/UploadFile.js
  frontend/src/Component/helpers/UploadFile.scss
Due: azure-pipelines-1.yml

Corrigiendo bug
  frontend/src/Component/CreateCasos/CreateCasos.js
  frontend/src/Component/Etapas/Etapas.js
  frontend/src/Component/Etapas/wizard/EtapaInicial.js
  frontend/src/Component/Etapas/wizard/General.js
  frontend/src/Component/helpers/File.js
Due: azure-pipelines-1.yml

Corrigiendo bug decha del paciente
  frontend/src/Component/Pantient/CreatePantientv1.js
Due: azure-pipelines-1.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

cambio en archivos de documentacion de la etapa intermedia
  backend/rest/caseintermediate.http
  backend/rest/therapeuticplan.http
Due: azure-pipelines.yml

oauth login google
  backend/package-lock.json
  backend/package.json
  backend/rest/auth.http
  backend/src/certificates/jwt-config.js
  backend/src/controllers/user.controller.js
  backend/src/helper/jwt-token.js
  backend/src/main.js
  backend/src/passport.js
  backend/src/routes/auth.google.js
  backend/src/services/caseintermediate_service.js
  backend/src/services/user_service.js
  backend/src/storage/case_storage.js
  backend/src/storage/user.storage.js
  database/PersonQueryes.sql
Due: azure-pipelines.yml

Arreglos en unos endpoint de diagnosedproblems
  backend/rest/diagnosedproblems.http
  backend/src/controllers/diagnosedproblem_controller.js
  backend/src/routes/diagnosedproblem.route.js
  backend/src/services/diagnosedproblem_service.js
  backend/src/storage/diagnosedproblem_storage.js
Due: azure-pipelines.yml

cambio de dominio para la authenticacion
  backend/src/controllers/user.controller.js
Due: azure-pipelines.yml

arreglo del .http diagnosedroblem
  backend/rest/diagnosedproblems.http
Due: azure-pipelines.yml

Arreglo de un bug en update de diagnosed problem
  backend/src/controllers/diagnosedproblem_controller.js
  backend/src/controllers/person_controller.js
  backend/src/models/diagnosedproblem.model.js
  backend/src/services/diagnosedproblem_service.js
  backend/src/storage/diagnosedproblem_storage.js
  backend/src/storage/person_storage.js
Due: azure-pipelines.yml

ajustes en diagnosedproblems.http
  backend/rest/diagnosedproblems.http
  backend/rest/person.http
Due: azure-pipelines.yml

bug crear person
  backend/rest/person.http
  backend/src/storage/person_storage.js
Due: azure-pipelines.yml

bug cantidad de caracteres person
  backend/rest/person.http
  backend/src/controllers/person_controller.js
  backend/src/storage/person_storage.js
Due: azure-pipelines.yml

Control de rutas y rediseño de la aplicación
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo.svg
  frontend/src/App.js
  frontend/src/App.scss
  frontend/src/Component/CreateCasos/CreateCasos.js
  frontend/src/Component/CreateCasos/UpdateCasos.js
  frontend/src/Component/Etapas/Etapas.js
  frontend/src/Component/Etapas/wizard/EtapaDiagnostico.js
  frontend/src/Component/GridCasos/GridCasos.js
  frontend/src/Component/Molecules/PrivateMenu.jsx
  frontend/src/Component/Molecules/PublicMenu.jsx
  frontend/src/Component/Navbar/Navbar.js
  frontend/src/Component/Organisms/Header.jsx
  frontend/src/Component/Pages/CrearDiagnostico.jsx
  frontend/src/Component/Pages/ListaDiagnosticos.jsx
  frontend/src/Component/Pages/Login.jsx
  frontend/src/Component/Pages/Page404.jsx
  frontend/src/Component/Pages/PagesRol.jsx
  frontend/src/Component/Pantient/CreatePantientv1.js
  frontend/src/Component/Pantient/Pantient.js
  frontend/src/Component/Routes.js
  frontend/src/Component/helpers/Search.js
  frontend/src/index.scss
Due: azure-pipelines-1.yml

Cambios
  backend/src/controllers/person_controller.js
  backend/src/middlewares/auth.js
  backend/src/services/person_service.js
  backend/src/storage/person_storage.js
Due: azure-pipelines.yml

middleware protected routes
  backend/rest/caseinitial.http
  backend/src/controllers/user.controller.js
  backend/src/middlewares/auth.js
  backend/src/passport.js
  backend/src/routes/caseinitial.route.js
Due: azure-pipelines.yml

OAuthLogin
  backend/src/controllers/user.controller.js
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: frontend
  azure-pipelines.yml: any of: backend
